<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Watch Shop - About Page</title>
</head>
<body>
<div class="container">
    <h1>Watch Tech - Watch Repair and Retail Store</h1>
    <h3>About us</h3>
    <p>Watch Tech is an authorized retailer for Rolex Watch and certified watch repair for Rolex and
        many other luxury brands.</p>
    <p>Our business provides many in-house watch services such as: battery replacement, watch servicing,
        gear lubrication, and repair physical damages to exterior areas of any watch.</p>

    <a href="http://localhost:8080/">Link
        to Main Screen</a>
</div>

</body>
</html>